{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Projects</h2>
    <a href="{{ url_for('add_project') }}" class="btn btn-success">Add Project</a>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Samples</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.id }}</td>
            <td>{{ project.title }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.samples|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
